body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
}

svg:not(:root) {
    display: block;
}

.info {
    position: absolute;
    left: 10%;
    height: 100%;
    width: 80%;
    background: linear-gradient(90deg, rgba(2, 0, 36, 1) 0%, rgba(117, 0, 0, 1) 0%, rgba(255, 255, 255, 1) 45%, rgba(255, 255, 255, 1) 55%, rgba(0, 91, 110, 1) 100%);
    display: flex;
    justify-content: center;
}

.left {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 10%;
    background: rgba(117, 0, 0, 1);
    display: flex;
    justify-content: center;
}

.right {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 10%;
    background: rgba(0, 91, 110, 1);
    display: flex;
    justify-content: center;
}