body {
    padding: 0px;
    margin: 0px;
    height: 100%;
    width: 100%;
    background-color: black;
}

svg:not(:root) {
    display: block;
}

.info {
    position: absolute;
    left: 30%;
    height: 100%;
    width: 40%;
    background: yellow;
    display: flex;
    justify-content: center;
}

.left {
    position: absolute;
    left: 0px;
    height: 100%;
    width: 30%;
    background: green;
    display: flex;
    justify-content: center;
}

.right {
    position: absolute;
    right: 0px;
    height: 100%;
    width: 30%;
    background: blue;
    display: flex;
    justify-content: center;
}